
 
.containerPremium{
    background-image: linear-gradient(180deg, #ffffff 40%,#7abb45 , #0aab09 );
    width: 100vw;
    height: 100vh;
}

.logoPremium{
    height: 5rem;
    width:5rem;
    margin-left:3em;
}

.mainPremiumContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:50%;
    margin:0 auto;
    margin-top:1em;
}

.chooseMembership{
    color:#056839;
    font-size:1.5rem;
    font-weight: bold;
    margin-bottom:1.5rem;
}

 
.boxPremium{
    padding:5em 6em 2em 6em;
    border-radius: 20px;
    z-index: 1;
    background-color: #fff;
    box-shadow:  2px -1px 15px 2px #a0a0a0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* max-width: 50%; */
} 

.buttonTopPremium{
    display: flex;
    justify-content: space-between;
    border:1px solid grey;
    padding:1.3em 2em;
    width:100%;
    border:none;
    border-radius: 10px;
    box-shadow:  3px 2px 7px 1px #a0a0a0;
    text-decoration: none;
    margin-bottom:2.5em;
}

.basicPremium{
    color:#111;
    font-weight: bold; 
}

.freePremium{
   color:#056839;
    font-weight: bold;
}

.buttonBottomPremium{
    display: flex;
    justify-content: space-between;
    border:1px solid grey;
    padding:0.8em 2.2em 0.8em 2em;
    width:100%;
    border:none;
    border-radius: 10px;
    box-shadow:  2px -1px 5px 2px #a0a0a0;
    background-color:#056839 ;
    color:white;
    margin-bottom:1em;
    box-shadow:  4px 3px 7px 2px #a0a0a0;
    text-decoration: none;
}

.bottomPremium{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagePremiumBottom{
    height:2rem;
    width:1.5rem;
}

.skipPremium{
    color:#056839 ;
    font-weight: bold;
    margin:1em 0 0 5em;
    width:100%;
    text-align: center;
    text-decoration: none;

}

@media screen and (max-width:500px){

.chooseMembership{
    text-align: center;
}

.containerNavPremium{
    text-align: left;
}

.logoPremium{
    margin-left:1em;
}
.boxPremium{
    max-width: 75%;
}
}






