/* Nav-1*/
.image {
  height: 6.25rem;
  width: 6.25rem;
  margin-right: 2rem;
}
.nav_1 ul {
  display: flex;
  margin-left: 2rem;
  margin-bottom: 0.1rem;
  list-style: none;
}

.empty {
  margin-left: 21rem;
}
.list_items {
  text-decoration: none;
  font-size: 1.5rem;
  color: #111;
  margin-left: 1.2rem;
  margin-top: 3.75rem;
}

.FindJob {
  height: 3.5rem;
  width: 11rem;
  margin-top: 2.5rem;
  margin-left: 1.87rem;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2),
    0 0.37rem 1.2rem 0 rgba(0, 0, 0, 0.19);
}
.float {
  display: flex;
}

/* Nav-2*/

.icon {
  display: flex;
  align-items: baseline;
}
.nav_2 {
  background-color: #056839;
}

.nav_2 ul {
  display: flex;
  margin-left: 5.6rem;

  list-style: none;
  align-items: baseline;
}

.empty_2 {
  margin-left: 25rem;
}
.list_items_2 {
  text-decoration: none;
  font-size: 1.3rem;
  color: #ffffff;
  margin: 0.9rem 0 0.9rem 1.1rem;
}
.Subscription {
  color: #55a13c;
  font-size: 1.2rem;

  padding: 0.5rem 1.8rem 0.5rem 1.8rem;
  border-radius: 1.2rem;
  border: none;
}

.content {
  background-image: url(../images/welcome_background_image.gif);
  box-sizing: border-box;
  width: 100%;
  height: 45rem;

  background-repeat: no-repeat;
  background-size: cover;
}

.p1 {
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: bold;
  padding-top: 3rem;
  padding-left: 40%;
  color: #056839;
}

.p2 {
  margin-top: 15rem;
  font-size: 1.5rem;
  font-weight: bold;
  word-spacing: 0.37rem;
  padding-left: 2.5rem;

  color: #056839;
}
.EarnMoney {
  height: 3.43rem;
  width: 16.25rem;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2),
    0 0.37rem 1.2rem 0 rgba(0, 0, 0, 0.19);

  margin: 0rem 0 1.87rem 7.5rem;
}

@media (max-width: 1200px) {
  /* Nav-1*/
  .image {
    margin-right: 0.6rem;
  }
  .nav_1 ul {
    display: flex;
    font-size: 1.8rem;
    margin-left: 1.8rem;
  }

  .empty {
    margin-left: 15rem;
  }

  /* Nav-2*/

  .nav_2 ul {
    margin-left: 3rem;
  }

  .empty_2 {
    margin-left: 18rem;
  }
  .list_items_2 {
    text-decoration: none;
    font-size: 1.08rem;
    color: #ffffff;
    margin: 0.9rem 0 0.9rem 1.08rem;
  }

  .content {
    width: 100%;
    height: auto;
  }

  .p1 {
    font-size: 2.52rem;

    padding-top: 1.8rem;
    padding-left: 21rem;
  }

  .p2 {
    margin-top: 10.8rem;
    font-size: 1.08rem;

    word-spacing: 0rem;
    padding-left: 1.8rem;
  }
  .EarnMoney {
    height: 2.4rem;
    width: 12rem;

    margin: 1.2rem 0 1.8rem 7.2rem;
  }
}
@media (max-width: 1024px) {
  /* Nav-1*/
  .image {
    margin-right: 0.6rem;
  }
  .nav_1 ul {
    display: flex;
    font-size: 1.8rem;
    margin-left: 1.8rem;
  }
  .list_items {
    font-size: 1.5rem;
  }
  .empty {
    margin-left: 6.8rem;
  }
  .FindJob {
    height: 3.3rem;
    width: 9.5rem;
    margin-top: 3.9rem;
    margin-bottom: 0.55rem;
    margin-left: 15%;
  }
  /* Nav-2*/

  .nav_2 ul {
    margin-left: 2.5rem;
  }

  .empty_2 {
    margin-left: 13.2rem;
  }
  .list_items_2 {
    font-size: 1.2rem;
    margin: 0.9rem 0 0.9rem 1.08rem;
  }

  .content {
    width: 100%;
    height: auto;
  }

  .p1 {
    font-size: 2.4rem;

    padding-top: 2rem;
    padding-left: 15rem;
  }

  .p2 {
    margin-top: 10.5rem;
    font-size: 1.2rem;

    word-spacing: 0rem;
    padding-left: 1.8rem;
  }
  .EarnMoney {
    height: 2.7rem;
    width: 12rem;

    margin: 0rem 0 5.4rem 7.2rem;
  }
}
@media (max-width: 768px) {
  /* Nav-1*/
  .image {
    height: 6rem;
    width: 6rem;

    margin-right: 0.55rem;
  }
  .nav_1 ul {
    display: flex;
    font-size: 1.65rem;
    margin-left: 1rem;
  }
  .list_items {
    font-size: 1.1rem;
  }
  .empty {
    margin-left: 2rem;
  }
  .FindJob {
    height: 2.75rem;
    width: 6.9rem;
    margin-top: 3.9rem;
    margin-bottom: 0.55rem;
    margin-left: 15%;
  }

  /* Nav-2*/

  .nav_2 ul {
    margin-left: 2.75rem;
  }

  .empty_2 {
    margin-left: 4.4rem;
  }
  .list_items_2 {
    font-size: 1.1rem;

    margin: 0.82rem 0 0.82rem 1rem;
  }
  .Subscription {
    font-size: 1rem;

    padding: 0.5rem 1.2rem 0.5rem 1.2rem;
    border-radius: 1.2rem;
  }
  .content {
    width: 100%;
    height: auto;
  }

  .p1 {
    font-size: 2.1rem;

    padding-top: 1.7rem;
    padding-left: 28rem;
  }

  .p2 {
    margin-top: 9rem;
    font-size: 1rem;

    word-spacing: 0rem;
    padding-left: 1.65rem;
  }
  .EarnMoney {
    height: 2.4rem;
    width: 9.5rem;

    margin: 0rem 0 4.5rem 6.6rem;
  }
}
@media (max-width: 425px) {
  .image {
    height: 7rem;
    width: 7rem;
  }
  .nav_1 ul {
    display: block;
    margin-left: 25%;
  }
  .list_items {
    font-size: 1.4rem;
  }
  .FindJob {
    height: 3.1rem;
    width: 10rem;
    margin-top: 1.35rem;
    margin-bottom: 0.45rem;
    margin-left: 28%;
  }
  .float {
    display: block;
    align-items: flex-end;
  }
  .Subscription {
    font-size: 1.2rem;

    padding: 0.5rem 1.8rem 0.5rem 1.8rem;
    border-radius: 1.2rem;
  }
  .nav_2 ul {
    margin-left: 0;
  }
  .list_items_2 {
    font-size: 1.5rem;
    margin-left: 1rem;
  }
  .empty_2 {
    margin-left: 1.5rem;
  }

  .icon {
    display: grid;
    place-items: center;
  }
  .content {
    width: 100%;
    height: auto;
  }
  .p1 {
    font-size: 1.28rem;

    padding-top: 0.9rem;
    padding-left: 55%;
  }

  .p2 {
    margin-top: 6rem;
    font-size: 0.73rem;
    font-weight: bold;
    word-spacing: 0rem;
    padding-left: 0.45rem;
  }
  .EarnMoney {
    height: 1.9rem;
    width: 8rem;

    margin: 0rem 5rem 1rem 3.5rem;
  }
}
