  
/*Layout*/
.container-login{
  width:70%;
  margin: 0 auto;
  display:flex;
  align-items: center;
  justify-content: center;

}

.left-box{
  margin:7em 0;
  text-align: center;
  width:36.5%;
  min-width: 270px;
  border-radius: 8%;
  z-index: 1000;
 border:1px solid green;
 background-color: white;   
}

.rightbox{
  margin:4em 0;
  border-radius: 30px;
  margin-left:-2em;
  padding:10.5em 1em;
  width:34%;
  min-width:250px ;
  z-index: -1000;
  text-align:center;
  color:white;
  background-image: linear-gradient(30deg, #7abb45,#7abb45, #0aab09);
}

/*images*/

.mainlogo{
  width:6rem;
  height:5rem;
}

.icon{
display: flex;

}

.image-icons{
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 10px;
}

.reload{
  cursor: pointer;
  height: 1.7rem;
  width: 1.7rem;   
  margin-left:2em;

}

/*Form-Inputs*/

.form-input {
  border-radius: 10px;
  border:1px solid grey;
  margin: 1.5em 3em 0 3em;
  padding: 0 0.5em;
  position: relative;
  display: flex;
  align-items: center;   
}

input {  
  padding: 0 0.5rem;
  border:none;
  width: 100%;
  font-size: 12px;
  line-height: 30px;
  opacity:0.8; 
}

/* Captcha */ 

.captcha{
 display:flex;
  justify-content:center ;
  margin:1em 0;
 
}

.left-p{
  opacity: 0.6;
  border:1px solid grey;
  padding: 0.2em 1.8em;
  text-align: center;
  font-size: 1rem;
  margin:0;
  border-radius: 14px;
  letter-spacing:3px;
}

/* Login button*/

.login-btn{
   display: flex;
   justify-content:space-between ;
   width:80%;
   margin:2em auto;
}

.btn-submit{
  font-size:0.8rem;
  font-weight: bold;
  color:white;
  border:none;
  border-radius: 18px;
  background-image: linear-gradient(to right, #7abb45, #0aab09);
  padding:0.6em 1.2em;
}

.forgot-pass{
  color:	#29B5E3;
  font-size: 0.8rem;
  margin-top: 0.5em;
}

/* Right Box*/

.right-h2{
  margin:0;
}
.right-p{
  margin:1em 1.1em;
  font-size: 0.9rem;
}
.right-btn{
  padding:0.6em 0.8em;
  border-radius: 20px;
  border:none;
  color:#31B400;
  font-size: 0.9rem;
  font-weight: bold;

}






