  
/*Layout*/
.container-login{
  width:70%;
  margin: 0 auto;
  display:flex;
  align-items: center;
  justify-content: center;

}

.left-box{
  margin:7em 0;
  text-align: center;
  width:36.5%;
  min-width: 270px;
  border-radius: 8%;
  z-index: 1000;
 background-color: white;   
 box-shadow: 0.025rem 0.025rem 2.25rem 1rem rgba(163, 163, 163, 0.61);
}

.rightbox{
  margin:4em 0;
  border-radius: 30px;
  margin-left:-2em;
  padding:10.5em 1em;
  width:34%;
  min-width:250px ;
  z-index: -1000;
  text-align:center;
  color:white;
  background-image: linear-gradient(30deg, #7abb45,#7abb45, #0aab09);
  box-shadow:  0 3px 5px 2px #a0a0a0  ;

}

/*images*/

.mainlogo{
  width:6rem;
  height:5rem;
}

.icon{
display: flex;


}

.image-icons{
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 10px;
}

.reload{
  cursor: pointer;
  height: 1.7rem;
  width: 1.7rem;   
  margin-left:2em;

}

/*Form-Inputs*/

.form-input {
  border-radius: 6px;
  margin: 1.5em 3em 0 3em;
  padding: 0.15em 0.5em;
  position: relative;
  display: flex;
  box-shadow: -3px 0 1px #60ac24, 0 0 5px 1px #a0a0a0  ;
  align-items: center;   
}

.input {  
  padding: 0 0.5rem;
  border:none;
  width: 100%;
  font-size: 12px;
  line-height: 30px;
  opacity:0.6; 
  
}
.input:focus {
  outline: none;
}
/* Captcha */ 

.captcha{
 display:flex;
  justify-content:center ;
  margin:1em 0;
 
}

.left-p{
  opacity: 0.45;
  border:1px solid grey;
  padding: 0.5em 1.8em;
  text-align: center;
  font-size: 1rem;
  margin:0;
  border-radius: 16px;
  letter-spacing:3px;
  box-shadow:  0 0 4px 2.5px #a0a0a0;

}

/* Login button*/

.login-btn{
   display: flex;
   justify-content:space-between ;
   width:80%;
   margin:2em auto;
}

.btn-submit{
  font-size:0.8rem;
  font-weight: bold;
  color:white;
  border:none;
  border-radius: 18px;
  background-image: linear-gradient(to right, #7abb45, #0aab09);
  padding:0.6em 1.2em;
  box-shadow:  0 0 5px 1px #a0a0a0  ;

}

.forgot-pass{
  color:	#58b1ff;
  font-size: 0.8rem;
  margin-top: 0.5em;
}

/* Right Box*/

.right-h2{
  margin:0;
}
.right-p{
  margin:1em 1.1em;
  font-size: 0.9rem;
}
.right-btn{
  padding:0.6em 0.8em;
  border-radius: 20px;
  border:none;
  color:#0fc80b;
  font-size: 0.9rem;
  font-weight: bold;
  box-shadow:  0 0 5px 2px #a0a0a0;

}






