@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

/* =================================================================
PROJECTS SERVEE (NAVBAR)
==================================================================*/

.Navbar {
  background-color: #026938;
  width: 100%;
  height: 50px;
  display: flex;
}

.Navbar .leftside {
  flex: 50%;
  display: flex;
  justify-content: left;
  padding-right: 10%;
  padding-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.Navbar .leftside .links a {
  text-decoration: none;
  color: #fff;
  margin-left: 30px;
  font-size: 1rem;
}

.nav-link:hover {
  border-bottom: 7px solid #ffffff;
  padding-bottom: 7px;
  transition: 0.5s;
}

.active-link {
  border-bottom: 7px solid #ffffff;
  padding-bottom: 7px;
}

.rightside {
  color: #ffffff;
  padding-top: 10px;
  display: flex;
  margin-right: 60px;
}

.rightName {
  margin-left: 10px;
  font-size: 0.85rem;
}

/* =================================================================
SELECT ACCOUNT (SIGN UP)
==================================================================*/

.selectAction {
  background-image: -webkit-linear-gradient(#ffffff 50%, #81be3d 50%);
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectCointainer {
  background-color: #ffffff;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 450px;  
  padding: 25px 30px 40px;  
}

.selectAction img:first-child {
  height: 40px;
  float: left;
}

.selectActionLogo {
  height: 125px;
  margin-left: -40px;
}

.selectAction h3 {
  margin: 0;
}

.selectAction p {
  margin: 5px 0;
}

.selectActionBtn {
  text-decoration: none;
  color: #000000;
  border-radius: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 15px 10px;
  display: flex;
  margin: 20px 0;
  border-left: 4px solid #60ac24;
}

.selectActionIco {
  height: 70px;
  border-right: 2px solid #c1c1c1;
  padding-right: 15px;
}

.selectActionTxt {
  flex: 3;
}

.selectActionTxt h2 {
  display: inline;
}

.selectActionArr {  
  height: 40px;
  width: auto;
  float: right;
}

/* =================================================================
PROJECTS SERVEE (MAIN COMPONENT)
==================================================================*/

.PrjServee {
  padding: 20px 12%;
  height: 85.25vh;
}

.PrjServeeHead h1 {
  color: #026938;
  display: inline;
}

.PrjServeeHead button {
  background-image: linear-gradient(15deg, #92ca3c, #63aa3d);
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  float: right;
}

.PrjServeeTab {
  margin: 30px 0;
}

.PrjServeeTab a {
  margin-right: 20px;
  text-decoration: none;
  color: #666666;
  font-weight: bold;
  padding-bottom: 10px;
}

.PrjServeeTab a:hover {
  border-bottom: 5px solid #58a53d;
  color: #58a53d;
  transition: 0.5s;
}

.active-tab {
  border-bottom: 5px solid #58a53d;
  color: #58a53d !important;
}

.PrjServeeForm input {
  width: 70%;
  padding: 4px 4px 4px 40px;
  border-radius: 3px;
  border: 0.5px solid #b6b6b6;
  box-shadow: 1px 4px 8px 2px rgba(0, 0, 0, 0.2);
  background-image: url(./images/search.png);
  background-position: 7px 5px;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  cursor: pointer;
}

.PrjServeeForm select {
  box-shadow: 1px 4px 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  border: 0.5px solid #b6b6b6;
  padding: 4px;
  cursor: pointer;
}

.PrjServeeForm label {
  margin: 0 10px;
  color: #666666;
}

.PrjServeeResult {
  background-color: #ffffff;
  box-shadow: 1px 4px 8px 2px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: 335px;
  margin-top: 35px;
}

.PrjServeeNew {
  text-align: center;
  padding-top: 65px;
}

.PrjServeeNew p {
  color: #666666;
  font-weight: 600;
  font-size: 0.75rem;
}

.PrjServeeNew button {
  background-image: linear-gradient(15deg, #92ca3c, #63aa3d);
  color: #ffffff;
  border: none;
  padding: 15px 50px;
  border-radius: 50px;
  font-weight: bold;
  margin-top: 30px;
}

.PrjServeePast {
  border-collapse: collapse;
  font-size: 1rem;
  margin: 0;
  width: 100%;
}

.PrjServeePast thead tr {
  background-color: #eeefef;
  text-align: left;
  font-weight: bold;
}

.PrjServeePast th,
.PrjServeePast td {
  padding: 12px 15px;
}

.PrjServeePast tbody tr {
  border-bottom: 3px solid #eeefef;
}

.frstCol {
  color: #58a53d;
  font-weight: bold;
}

.PrjServeePastIcon {
  float: right;
  border: 1px solid #eeefef;
}

/* =================================================================
  POST PROJECT (MAIN COMPONENT)
  ==================================================================*/

.PostPrj {
  background-image: -webkit-linear-gradient(#ffffff 50%, #81be3d 50%);
  background-attachment: fixed;
  background-size: 100%;
}

.PostPrjLogo img {
  height: 60px;
  margin-left: 150px;
  margin-top: 15px;
}

.PostPrjTxt {
  margin: 0 150px;
}

.PostPrjTxt h1 {
  color: #77b541;
  font-weight: 600;
  margin: 5px 0 2px;
}

.PostPrjTxt p {
  color: #709b89;
  margin-top: 0;
  font-size: 1.05rem;
  word-spacing: 1px;
}

.PostPrjForm {
  margin: 0 155px;
  background-color: #ffffff;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  height: auto;
  padding-bottom: 100px;
  padding: 15px 45px;
}

.PostPrjForm label {
  color: #8bbf52;
  font-size: 1.75rem;
  display: block;
  font-weight: 500;
}

.PostPrjForm input[type="text"] {
  width: 95%;
  margin: 5px 0 15px;
  font-size: 1rem;
  padding: 7px 15px;
  border: 1.5px solid #c1c1c1;
}

.PostPrjForm select {
  -webkit-appearance: none;
  appearance: none;
  font-size: 1rem;
  padding: 7px 30px 7px 10px;
  margin: 5px 20px 15px 0;
  border: 1.5px solid #c1c1c1;
  color: #8b8b8b;
}

.PostPrjForm p {
  margin: 0 0 10px;
  color: #8b8b8b;
  font-size: 1rem;
}

.PostPrjForm textarea {
  resize: none;
  border: 1.5px solid #c1c1c1;
  width: 95%;
  font-family: "Roboto", sans-serif;
  margin: 5px 0 0;
  font-size: 1rem;
  padding: 7px 15px;
}

.wordcount {
  font-size: 0.75rem;
  float: right;
  color: #8b8b8b;
}

.formfile {
  width: 95%;
  margin-top: 30px;
  padding: 10px 15px;
  border: 1.5px solid #c1c1c1;
}

#fileError {
  font-size: 0.75rem;
  color: red;
}

.postPrjBtn {
  margin: 25px 0 10px;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  left: 84%;
  border: none;
  color: #ffffff;
  background-image: linear-gradient(45deg, #d771ff04, #11ac0d);
}

/* =================================================================
  FIND JOB (MAIN COMPONENT)
  ==================================================================*/

.findJobHead {
  margin: 20px 65px 0;
  display: flex;
  overflow: hidden;
}

.findJobHead img {
  height: 60px;
}

.findJobHeadNav {
  flex: 35%;
  display: flex;
  margin: 0 75px 0;
}

.findJobIcon {
  margin-right: 55px;
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}

.findJobSidebar {
  flex: 35%;
  display: flex;
  margin-top: 20px;
}

#findJobProfile {
  font-size: 0.85rem;
}

#findJobAcc {
  font-size: 0.85rem;
}

.findJobBanner {
  height: 80px;
  display: flex;
  padding: 0 65px;
  background-image: linear-gradient(15deg, #98ce3c, #53a03c);
}

.findJobBannerText {
  color: #ffffff;
  font-weight: bold;
  margin: 10px 0;
  flex: 1;
}

.findJobBannerText p {
  margin-top: 0;
  font-size: 2rem;
}

.findJobBannerText span {
  letter-spacing: 2px;
  font-weight: 400;
}

.findJobBannerBtn {
  margin: 15px 80px 20px 0;
}

.bannerBtn {
  margin-right: 20px;
  padding: 10px 25px;
  border-radius: 24px;
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.bannerBtn.selectbtn {
  background-color: #ffffff;
  color: #55a13c;
  border: none;
}

.bannerBtn.unselectbtn {
  background-color: transparent;
  color: #ffffff;
  border: 1.5px solid #ffffff;
}

.findJobSearch {
  margin: 20px 65px;
}

.findJobSearchBar {
  display: inline;
  width: 95%;
  font-size: 1.25rem;
  padding: 15px 0 15px 40px;
  background-image: url(./images/search.png);
  background-position: 7px 12px;
  background-repeat: no-repeat;
  background-size: 28px 28px;
  cursor: pointer;
  border-radius: 24px;
  border: 1px solid #ccc;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.findJobPopUpOverlay {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(173, 173, 173, 0.4);
}

.findJobPopUp {
  margin: auto;
  border: 1px solid #ccc;
  width: 350px;
  height: 450px;
  background-color: #ffffff;
  padding: 12px 30px;
  border-radius: 24px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.findJobPopUpHead h3 {
  display: inline;
  font-weight: bold;
  font-size: 1.5rem;
}

.findJobLabel {
  display: block;
  font-size: 0.75rem;
  font-weight: bold;
  margin-bottom: 6px;
  letter-spacing: 0.5px;
}

.findJobInput {
  width: 95%;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  font-size: 1rem;
  border-radius: 3px;
  padding: 5px 10px;
  margin-bottom: 8px;
}

.findJobLabelCheck {
  position: relative;
  left: 35%;
  top: 7px;
  font-size: 0.75rem;
  font-weight: bold;
}

input[type="checkbox"] {
  /* outline: 2px solid #4b71ff; */
  border: none;
}

.filterBtn {
  padding: 7px 80px;
  position: relative;
  left: -4%;
  top: 50px;
  border-radius: 24px;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  background-image: linear-gradient(15deg, #98ce3c, #53a03c);
}

.findJobResult {
  display: grid;
  grid-template-areas:
    "side result result result result result result"
    "side result result result result result result";
  grid-gap: 30px;
  margin: 15px 65px;
}

.findJobResultFilter {
  grid-area: side;
  background-color: #ffffff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  height: 330px;
  width: 250px;
  padding: 0 20px;
  display: block;
  color: #8b8b8b;
}

.findJobResultFilter h5 {
  font-size: 1.25rem;
  margin: 4px 0;
}

.findJobResultFilterDisplay {
  grid-area: result;
  background-color: #ffffff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  height: 330px;
  width: 100%;
  display: block;
}

.findJobFilter {
  color: #8b8b8b;
  padding: 0 12px;
  font-size: 1rem;
}

.findJobFilter label {
  display: block;
  margin: 7px 0;
}

.findJobFilter select {
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 45px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 8px;
  border: none;
  border-bottom: 2px solid #ccc;
}

#sideFilterBtn {
  padding: 5px 60px;
  margin: 15px 15%;
  color: #ffffff;
  background-image: linear-gradient(15deg, #98ce3c, #53a03c);
  font-size: 1rem;
  border-radius: 24px;
  border: none;
}

.filterDisplayHead {
  margin: 15px 25px;
}

#postDate {
  font-size: 1rem;
  padding: 1px 3px;
}

#resultNum {
  margin-left: 15px;
}

.filterDisplayBtnGrp {
  display: inline;
  float: right;
  border: 1px solid #ccc;
}

.filterDisplayBtnGrp button {
  background-color: #ffffff;
  border: none;
  border-left: 1px solid #ccc;
}

.filterbtnSelect {
  background-color: #0fc80b;
  color: #ffffff;
}

.jobResults {
  margin: 0px 27px;
  display: flex;
}

.jobs {
  flex: 75%;
}

.jobResultsMain {
  width: 100px;
  display: inline;
}

.jobResultsHead {
  margin-top: 15px;
}

.jobResultsHead h3 {
  display: inline;
}

.jobResultsHead span {
  margin-left: 65px;
}

.jobResultsDes {
  width: 500px;
  font-size: 0.85rem;
}

.jobResultsDes p {
  margin: 5px;
}

.skillNeeded {
  margin-left: 8px;
  color: #4b71ff;
}

.jobResultsSide {
  margin: 40px 0;
}

.jobResultsSingle {
  margin: 0px 27px;
  display: flex;
}

/* =================================================================
  FINANCIAL DASHBOARD (MAIN COMPONENT)
  ==================================================================*/

.finanDashboard {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  margin: 20px 0 0;
  display: flex;
  padding: 0 65px;
  overflow: hidden;
}

.finanDashboard img {
  height: 60px;
}

.finanDashboardHead {
  padding: 20px 12%;
}

.finanDashboardMain {
  margin: 10px 12%;
  height: 290px;
}

.finanDashboardMain:after {
  content: "";
  display: table;
  clear: both;
}

.dashLeftSide {
  float: left;
  width: 27%;
  height: 100%;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 6px;
  padding: 15px 10px;
}

.dashLeftSide h3 {
  margin: 0 0 10px;
  color: #8b8b8b;
  font-size: 1.1rem;
}

.dashMainBtn {
  width: 100%;
}

.dashMainBtn button {
  margin: 5px 0;
  padding: 7px 15px;
  font-size: 1rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  color: #8b8b8b;
  font-weight: bold;
  transition: 0.3s;
}

.dashMainBtn button:hover {
  background-color: #93cc3c;
  color: #ffffff;
}

.dashSideSlt {
  background-color: #d3ff97;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.dashRightSide {
  float: left;
  width: 65%;
  height: 110%;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 6px;
  margin-left: 35px;
}

.payInfo {
  margin-top: 5px;
}

.payInfoOut {
  display: flex;
  border: 2px solid #eeefef;
  border-radius: 8px;
  padding: 5px 10px;
  margin-bottom: 0.5px;
}

.selectPay {
  border: 2px solid #acd09e !important;
}

.innerBox {
  border: 2px solid #eeefef;
  border-radius: 8px;
  width: 40px;
  height: 20px;
  margin-right: 15px;
}

#payDetailNum {
  font-size: 0.8rem;
  display: block;
}

#payDetailCmp {
  font-size: 0.65rem;
  color: #cccccc;
}

.selectPayNum {
  color: #000000 !important;
}

.payCrl {
  position: relative;
  top: 5px;
  left: 80px;
  background-color: #eeefef;
  width: 26.25px;
  height: 26.25px;
  border-radius: 50%;
}

.selectPayCir {
  background-color: #59a23c;
}

.payDetailView {
  color: #73b43c;
  background-color: #edffdc;
  border-radius: 24px;
  border: none;
  margin: 7px auto;
  padding: 2px 15px;
  display: flex;
  justify-content: center;
}

.payDetailAdd {
  color: #afafae;
  width: 100%;
  border: none;
  margin-top: 7px;
  border-radius: 8px;
  font-weight: bold;
  padding: 7px auto;
}

.dashTable {
  border-collapse: collapse;
  font-size: 1rem;
  margin: 0;
  width: 100%;
  transition: 1s;
}

.dashTable thead tr {
  background-color: #eeefef;
  text-align: left;
  font-weight: bold;
}

.dashTable th,
.dashTable td {
  padding: 12px 15px;
}

.dashTable tbody tr {
  border-bottom: 3px solid #eeefef;
}

.dashIcon {
  margin-top: 10px;
  margin-right: 10px;
  float: right;
  background-color: rgb(226, 226, 226);
  border: 1px solid #8f8f8f;
}

.traHis {
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 6px;
  margin: 10px 12%;
  height: 320px;
}

/* =================================================================
  FINANCIAL DASHBOARD SERVER (MAIN COMPONENT)
  ==================================================================*/

.lftsideDash {
  float: left;
  width: 32%;
  height: 100%;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 6px;
  padding: 15px 10px;
}

.lftsideDash h3 {
  margin: 0;
  color: #8b8a8a;
}

.balance {
  padding: 15px;
  background-color: #d2fe97;
  border-radius: 6px;
  margin: 20px 0;
}

.balance h5 {
  margin: 0;
  color: #8b8a8a;
  font-size: 0.8em;
}

.balance p {
  margin: 5px 0 10px;
  font-size: 3rem;
  font-weight: bold;
  color: #606161;
  letter-spacing: 3px;
}

.mnyAdd {
  font-weight: bold;
  width: 100%;
  text-align: left;
}

.head {
  color: #8b8a8a;
  font-size: 0.8em;
}

.r1 {
  color: #7c7c7c;
}

.r2 {
  color: #cdd3c5;
}

.rghsideDash {
  float: left;
  width: 64%;
  height: 110%;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 6px;
  margin-left: 15px;
}

.ctnDash {
  padding: 5px 30px;
}

.ctnDash h3 {
  color: #848484;
  font-size: 1.2rem;
}

.ctnDash span {
  color: #6aaf52;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 3px;
}

.ctnDash p {
  color: #aeafaf;
  font-weight: bold;
}

.ctnDash input {
  font-size: 1rem;
  padding: 15px 20px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 60%;
  display: block;
}

.ctnDash button {
  background-color: #d2fe97;
  color: #5ea83d;
  width: 67%;
  border: none;
  border-radius: 24px;
  font-size: 1rem;
  font-weight: bold;
  padding: 15px 80px;
  margin-top: 20px;
}

.PrjServerAll {
  margin: 20px 200px;
  text-align: center;
}

.PrjServerAll img {
  height: 110px;
  width: auto;
}

.PrjServerAll h3 {
  font-weight: bolder;
  font-size: 1.5rem;
  margin: 0 0 10px;
  letter-spacing: 1px;
}

.PrjServerBtn {
  background-color: #f8f9f8;
  color: #528d31;
  width: 45%;
  height: 75px;
}

.PrjServerDis {
  display: inline;
}

.PrjServerDis span {
  display: inline;
}

/* =================================================================
  INBOX (MAIN COMPONENT)
  ==================================================================*/

.inbox {
  background-color: #f7f7f7;
  width: 100%;
  height: 90vh;
  display: table;
  padding-top: 10px;
}

.chat {
  background-color: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 90%;
  width: 375px;
  margin: 6px 10px;
  padding: 20px 15px;
  border-collapse: collapse;
  float: left;
}

.chat input[type="text"] {
  padding: 5px 0px 5px 35px;
  width: 90%;
  border-radius: 24px;
  background-image: url(./images/search.png);
  background-position: 7px 5px;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  cursor: pointer;
  font-size: 1.25rem;
}

.chat ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.chat ul li {
  display: block;
  color: #49906e;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
}

.chats {
  margin-top: 10px;
}

.chatbox {
  margin: 7px 0;
  padding: 7px 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 24px;
  border: none;
  height: 40px;
}

.chatDetail {
  float: left;
  display: inline;
  margin-left: 30px;
}

.chatDetail p {
  margin: 0;
  font-size: 0.85rem;
  color: #8b8b8b;
}

.chatTime {
  float: right;
}

#notifiction {
  background-color: #056839;
  color: #fff;
  margin: 0 25px;
  padding: 0 5px;
  border-radius: 50%;
  display: block;
}

#time {
  color: #8b8b8b;
}

.message {
  height: 97.5%;
  width: 800px;
  margin: 6px 10px;
  border-collapse: collapse;
  position: relative;
  float: left;
}

.messageInput {
  background-color: #ebebeb;
  position: absolute;
  padding: 10px 20px;
  top: 458px;
  width: 763px;
}

.messageInput input[type="text"] {
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
  width: 650px;
}

.messageSend {
  position: relative;
  top: 320px;
}

.sender {
  min-height: 20px;
  background-color: #dedede;
  width: 250px;
  float: right;
  padding: 7px 20px;
  margin: 10px 0;
  text-align: center;
  font-size: 1.1rem;
}

.reciever {
  min-height: 20px;
  background-color: #056839;
  color: #ffffff;
  width: 250px;
  padding: 7px 20px;
  margin: 10px 0;
  text-align: center;
  font-size: 1.1rem;
}

/* =================================================================
  PORTFOLIO (MAIN COMPONENT)
  ==================================================================*/

.portfolio {
  background-image: linear-gradient(#ffffff 50%, #81be3d 50%);
  background-attachment: fixed;
  padding: 0 75px 20px;
  display: flex;
}

.portfolioLft {
  width: 700px;
  margin-right: 40px;
}

.portfolioHead {
  color: #056839;
  font-size: 1.35rem;
}

.portfolioCover {
  background-color: #f5f5f5;
  width: 100%;
  border-radius: 12px;
  height: 150px;
}

.portfolioName {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  margin-top: -90px;
  padding: 60px 20px 10px;
}

.portfolioName h2 {
  display: inline;
  margin: 7px 0;
}

.portfolioName p {
  margin: 0;
}

.portfolioName button {
  border: none;
  background-color: transparent;
  color: #45a04b;
  font-weight: bold;
  font-size: 1rem;
}

.portfolioName span {
  display: block;
  color: #8b8b8b;
  font-weight: bold;
}

.portfolioName span::before {
  content: '....';
  color: #45a04b;
  background-color: #45a04b;
  border-radius: 50%;
}

.desig {
  font-size: 1.25rem;
}

.address {
  color: #8b8b8b;
  font-weight: bold;
  display: inline;
}

.portfolioEdu {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  padding: 20px 20px 10px;
  margin-top: 20px;
}

.portfolioEdu h3 {
  display: inline;
  font-weight: bolder;
  font-size: 1.5rem;
}

.eduDetail {
  color: #606060;
  font-size: 0.85rem;
  margin-top: 10px;
}

.edu {
  padding: 0 30px;
}

.edu p {
  margin: 5px 0;
}

.portfolioRgh {
  width: 450px;
}

.portfolioPast {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  padding: 20px 20px 10px;
  margin-top: 20px;
}

.portfolioPast h3 {
  margin: 0;
}

.prj {
  font-size: 1rem;
}

.prj span {
  color: #606060;
}

.prj table {
  color: #606060;
  border-collapse: collapse;
}

.prj table tr td:empty {
  width: 50px;
}

.prj p {
  margin: 0;
  color: #606060;
}

.portfolioSkill {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  padding: 20px 20px 10px;
  margin-top: 20px;
}

.portfolioSkill h3 {
  margin-top: 0;
}

.portfolioSkill b {
  padding: 2px 15px;
  color: #606060;
}

.portfolioUpdate {
  margin: 30px auto;
  border: 3px solid #ffffff;
  background-color: #58a43c;
  border-radius: 28px;
  padding: 15px 110px;
  color: #ffffff;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1240px) {
  /* =================================================================
  PROJECTS SERVEE (MAIN COMPONENT)
  ==================================================================*/

  .PrjServeeForm input {
    width: 55%;
  }
}

@media only screen and (max-width: 850px) {
  /* =================================================================
  PROJECTS SERVEE (NAVBAR)
  ==================================================================*/

  .Navbar .leftside .links a {
    font-size: 0.85rem;
  }

  /* =================================================================
  PROJECTS SERVEE (MAIN COMPONENT)
  ==================================================================*/

  .PrjServeeForm input {
    width: 50%;
  }
}

@media only screen and (max-width: 750px) {
  /* =================================================================
  PROJECTS SERVEE (NAVBAR)
  ==================================================================*/

  .Navbar .leftside .links a {
    font-size: 0.75rem;
  }

  .Navbar .leftside {
    margin-left: 0;
    margin-right: 0;
    display: inline-block;
  }

  /* =================================================================
  PROJECTS SERVEE (MAIN COMPONENT)
  ==================================================================*/

  .PrjServeeTab a {
    font-size: 0.85rem;
  }

  .PrjServeeResult p {
    font-size: 0.65rem;
  }

  .PrjServeeForm input {
    width: 25%;
    padding: 4px 4px 4px 30px;
  }
}

@media only screen and (max-width: 480px) {
  /* =================================================================
  PROJECTS SERVEE (MAIN COMPONENT)
  ==================================================================*/

  .PrjServeeForm input {
    width: 25%;
    padding: 4px 4px 4px 25px;
    background-position: 7px 5px;
    background-size: 12px 12px;
    font-size: 0.75rem;
  }

  .PrjServeeForm label {
    font-size: 0.75rem;
  }

  .PrjServeeForm select {
    font-size: 0.75rem;
  }
}
